# /etc/systemd/system/pbb-server.service

[Unit]
Description=Pelham Blue Band website Node Express server
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User=pbb
Group=pbb
WorkingDirectory=/var/www/pelhamblueband.com/repo
ExecStart=/usr/bin/node server.js
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

