# /etc/systemd/system/sonoquii-server.service

[Unit]
Description=Sonoquii Node Express server
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User=sonoquii
Group=sonoquii
WorkingDirectory=/var/www/sonoquii.com/repo/server
ExecStart=/usr/bin/node server.js
Restart=always
RestartSec=10
EnvironmentFile=/var/www/sonoquii.com/.env.production
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

